//- vars
- var s3_path = "../_s3/"

doctype 5
html
	head
		title Video Share
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
		link(rel="stylesheet", href='css/main.css', type='text/css')

	body
		#fb-root

		//- content
		.wrapper

			article#detroit
				hgroup
					h1 Detroit
					.video-social
						button(
							data-vid="detroit",
							data-social="twitter",
							data-twurl="http://google.ca",
							data-twtext="twitter text") tw
						button(
							data-vid="detroit",
							data-social="facebook",
							data-fbname="Video Share name",
							data-fblink="http://dev.thesecretlocation.com/OPEN/videoShareFrame/demo",
							data-fbpicture="http://dev.thesecretlocation.com/OPEN/videoShareFrame/_s3/img/vision/1.jpg",
							data-fbcaption="fb caption",
							data-fbdescription="fb description") fb
						button(
							data-vid="detroit",
							data-social="tumblr"
							data-tmurl="http://google.ca",
							data-tmcaption="tumblr caption") tm
				.video-c
					video(
						data-vid="detroit",
						id="detroit-video",
						autoplay,
						src=s3_path+"vid/detroit.mp4")
					.video-controls
						.seek
							.seek-head
							.seek-hover

			article#moments
				hgroup
					h1 Moments
					.video-social
						button(
							data-vid="moments",
							data-social="twitter",
							data-twurl="http://google.ca",
							data-twtext="MOMENTS twitter text") tw
						button(
							data-vid="moments",
							data-social="facebook",
							data-fbname="Video Share name",
							data-fblink="http://dev.thesecretlocation.com/OPEN/videoShareFrame/demo",
							data-fbpicture="http://dev.thesecretlocation.com/OPEN/videoShareFrame/_s3/img/vision/1.jpg",
							data-fbcaption="MOMENTS fb caption",
							data-fbdescription="MOMENTS fb description") fb
						button(
							data-vid="moments",
							data-social="tumblr"
							data-tmurl="http://google.ca",
							data-tmcaption="MOMENTS tumblr caption") tm
				.video-c
					video(
						data-vid="moments",
						id="moments-video",
						controls,
						autoplay,
						src=s3_path+"vid/moments.mp4")

			article#vision
				hgroup
					h1 Vision
					.video-social
						button(
							data-vid="vision",
							data-social="twitter",
							data-twurl="http://google.ca",
							data-twtext="VISION twitter text") tw
						button(
							data-vid="vision",
							data-social="facebook",
							data-fbname="VISION Video Share name",
							data-fblink="http://dev.thesecretlocation.com/OPEN/videoShareFrame/demo",
							data-fbpicture="http://dev.thesecretlocation.com/OPEN/videoShareFrame/_s3/img/vision/1.jpg",
							data-fbcaption="fb caption",
							data-fbdescription="fb description") fb
						button(
							data-vid="vision",
							data-social="tumblr"
							data-tmurl="http://google.ca",
							data-tmcaption="VISION tumblr caption") tm
				#pause-button pause
				#play-button play
				.video-c
					iframe(src="https://www.youtube.com/embed/pKtNThEPWM4?enablejsapi=1&html5=1&showinfo=0", frameborder="0", allowfullscreen, id="vision-video", data-vid="vision")
					//- video(
					//- 	data-vid="vision",
					//- 	id="vision-video",
					//- 	controls,
					//- 	autoplay,
					//- 	src=s3_path+"vid/vision.mp4")
					
			article#night
				hgroup
					h1 Enjoy The Night
					.video-social
						button(
							data-vid="night",
							data-social="twitter",
							data-twurl="http://google.ca",
							data-twtext="NIGHT twitter text for night") tw
						button(
							data-vid="night",
							data-social="facebook",
							data-fbname="Video Share name",
							data-fblink="http://dev.thesecretlocation.com/OPEN/videoShareFrame/demo",
							data-fbpicture="http://dev.thesecretlocation.com/OPEN/videoShareFrame/_s3/img/vision/1.jpg",
							data-fbcaption="fb caption",
							data-fbdescription="fb description") fb
						button(
							data-vid="night",
							data-social="tumblr"
							data-tmurl="http://google.ca",
							data-tmcaption="NIGHT tumblr caption") tm
				.video-c
					iframe(src="https://www.youtube.com/embed/http://youtu.be/98LoiMZ59Jw?enablejsapi=1&html5=1&showinfo=0", frameborder="0", allowfullscreen, id="night-video")
			//- 		video(
			//- 			data-vid="night",
			//- 			id="night-video",
			//- 			controls,
			//- 			autoplay,
			//- 			src=s3_path+"vid/enjoy_the_night.mp4")

		//- scripts
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="js/jquery.videoShareFrame.js")
		script(src="js/youShare.js")
		script(src="js/app.js")